.wrap-custom-audio-player {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #101010;
    width: 100vw;
    z-index: 99;
    min-height: 150px;
    color: white;
    display: grid;
    grid-template-columns: fit-content(50%) auto fit-content(50%);
    direction: rtl;
}

song-details {
    grid-area: 1 / 1 / 2 / 2;
}

operating-buttons {
    grid-area: 1 / 1 / 2 / 4;
}

volume {
    grid-area: 1 / 3 / 2 / 4;
}